* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 10px;
}
body {
  background: linear-gradient(90deg, #222 10%, midnightblue 90%);
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 10px;
  text-shadow: 1px 1px 2px black, 0 0 15px red;
  font-size: 4rem;
  img {
    width: 50px;
  }
  &:hover {
    cursor: pointer;
  }
}
h2 {
  font-size: 2.4rem;
  font-weight: 900;
  margin-right: 16px;
}
#root {
  width: 1024px;
  margin: 0 auto;
  max-width: 90vw;
}
ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 0;
  margin: 0;
  background: linear-gradient(-90deg, #222 10%, midnightblue 90%);
  li {
    padding: 7px;
    list-style: none;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid red;
    line-height: 20px;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.main {
  background: linear-gradient(-90deg, #222 10%, midnightblue 90%);
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
  border: 1px solid red;
  border-radius: 15px;
  .bird_img {
    width: 50%;
    text-align: center;
  }
  img {
    border-radius: 10%;
    margin: 10px 15px;
    object-fit: cover;
    width: 330px;
    height: 230px;
  }
  h2 {
    margin: 0;
  }
}
.answer_section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 250px;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
#bird_name {
  height: 150px;
  line-height: 150px;
}
#player {
  height: 100px;
}

.questions {
  background: linear-gradient(-90deg, #222 10%, midnightblue 90%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  border-radius: 15px;
  padding: 10px 0;
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    height: 100%;
    width: 45%;
    align-self: center;
  }

  &__answer {
    border: 1px solid red;
    height: 50px;
    line-height: 50px;
    &:not(:last-child) {
      border-bottom: none;
    }
    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:hover {
      cursor: pointer;
      font-weight: 900;
    }
  }
}

.answer {
  &_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 45%;
    text-align: center;
    height: 100%;
    h2 {
      font-weight: normal;
      font-size: 1.4rem;
    }
    &_title {
      width: 50%;
      font-size: 1.4rem;
      h3 {
        font-size: 2rem;
      }
    }
    &_text {
      text-align: justify;
      font-size: 1.2rem;
    }
  }
  &_image {
    width: 50%;
    img {
      width: 200px;
      height: 155px;
      object-fit: cover;
      border-radius: 8%;
    }
  }
}
audio {
  margin: 10px auto;
  height: 30px;
}
.btn {
  margin: 15px 0;
  button {
    width: 100%;
    background-color: transparent;
    background: linear-gradient(-90deg, #222 10%, midnightblue 90%);
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 15px #fff;
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid red;
    &:hover {
      cursor: pointer;
      color: #fff;
      opacity: 0.7;
    }
  }
  .next {
    background: none;
    background-color: green;
    color: #fff;
    font-weight: 900;
  }
}

.wrong {
  font-style: italic;
  color: red;
  text-decoration: line-through;
  pointer-events: none;
}
.right {
  font-style: italic;
  font-weight: 900;
  font-size: 1.6rem;
  color: #fff;
  background: green;
}

.won {
  pointer-events: none;
}

.active {
  background-color: blue;
  font-weight: 900;
}

.hidden {
  display: none;
}

.win_page {
  text-align: center;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 10px;
    }
    span {
      text-align: center;
    }
    b {
      display: block;
      font-weight: 900;
    }
  }
  button {
    margin: 20px 0;
    padding: 10px 15px;
    color: white;
    background-color: #f08c99;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      letter-spacing: 0.8em;
      background-color: #feb1c0;
    }
  }
}
